@model Scullery.Models.ViewModels.TodaysMeals
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h3 class="text-left text-primary">
                Welcome, @Html.DisplayFor(model => model.PlannerName)!
            </h3>
        </div>
        <div class="col-md-2">
            <input type="button" class="btn btn-outline-primary" value="Create Meal Plan" onclick="location.href='@Url.Action("Create", "MealPlan")'" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                @foreach (Scullery.Models.ViewModels.MealCard card in Model.MealCards)
                {

                    @*<div class="card">
                        <div class="card-img" style="background-image: url('@card.ImgUrl')"></div>
                        <div class="card-body">
                            <div class="card-title">@card.CookName</div>
                        </div>
                    </div>*@
                    <div class="card mb-3">
                        <h3 class="card-header">
                            @if(card.MealSlot == 1)
                            {
                                <span>Breakfast</span>
                            }
                            else if(card.MealSlot == 2)
                            {
                                <span>Lunch</span>
                            }
                            else
                            {
                                <span>Dinner</span>
                            }
                        </h3>
                        <div class="card-body">
                            <h5 class="card-title">Assigned Cook</h5>
                            <h6 class="card-subtitle text-muted">@card.CookName</h6>
                        </div>
                        <svg xmlns="url('@card.ImgUrl')" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>

                }
            </div>
        </div>
        
    </div>





</div>



