@model Scullery.Models.ViewModels.TodaysMeals
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-center text-primary">
                Hi, @Html.DisplayFor(model => model.PlannerName)!
            </h3>
        </div>
        <div class="col-md-8">
            <h3 class="text-center text-primary">
                Today is @DateTime.Today.DayOfWeek, @DateTime.Today.ToString("MM-dd-yyyy")
            </h3>
        </div>
        <div class="col-md-2 justify-content-end">
            <input type="button" class="btn btn-outline-primary btn-lg" value="Create Meal Plan" onclick="location.href='@Url.Action("Create", "MealPlan")'" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                @foreach (Scullery.Models.ViewModels.MealCard card in Model.MealCards)
                {
                <div class="card">
                    <h3 class="card-header">
                        @if (card.MealSlot == 1)
                        {
                            <span>Breakfast: </span> @card.MealType
                        }
                        else if (card.MealSlot == 2)
                        {
                            <span>Lunch: </span> @card.MealType
                        }
                        else
                        {
                            <span>Dinner: </span> @card.MealType
                        }
                    </h3>
                    <div class="card-img" style="background-image: url('@card.ImgUrl')"></div>
                    @if (card.RecipeName != "")
                    {
                        <h2 class="card-header"> @card.RecipeName </h2>

                    }
                    @if (card.MealType == "Planned")
                    {
                        <div class="card-body">
                            <h5 class="card-title">Assigned Cook</h5>
                            <h6 class="card-subtitle text-muted">@card.CookName</h6>
                        </div>

                    }
                    <div class="card-footer">
                        @if (card.RecipeUrl != "")
                        {
                            <button class="btn btn-outline-primary" type="button" onclick="parent.open('@Url.Content(card.RecipeUrl)')" >Open Recipe</button>

                        }

                    </div>
                </div>               
                
                }
            </div>
        </div>
        
    </div>





</div>



