@model IEnumerable<Scullery.Models.SavedRecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Recipes</h1>


    <form asp-controller="SavedRecipe" asp-action="SearchResults">
        <p>
            Search For Recipes: <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeURL)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SavedRecipeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SavedRecipeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
