@model IEnumerable<Scullery.Models.ScheduledMeal>

@{
    ViewData["Title"] = "ViewPendingMeals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Meals Ready To Be Planned!</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.DateOfMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeal)
            </td>
            <td>
                @if (item.Slot == 1)
                {
                    <p>Breakfast</p>
                }
                else if (item.Slot == 2)
                {
                    <p>Lunch</p>
                }
                else
                {
                    <p>Dinner</p>
                }
            </td>           
            <td>
                <form asp-action="Plan" asp-route-id="@item.ScheduledMealId">
                    <button type="submit" class="btn btn-outline-success">Plan Meal!</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
