@model IEnumerable<Scullery.Models.ViewModels.MealEvent>
@{
    ViewData["Title"] = "GetMealSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table text-center">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <h4>@item.MealDate.Value.ToString("MM/dd/yyyy")</h4>
                            </th>
                            <td>
                                <div class="card text-center">
                                    @if (item.MealType == "Planned")
                                    {
                                        <div class="card-body">
                                            <a href="@item.RecipeUrl" class="stretched-link"> <p class="card-header"> @item.RecipeName </p></a>
                                        </div>
                                        <div class="card-footer bg-secondary text-light">
                                            @if (item.Slot == 1)
                                            {
                                                <h6>Breakfast</h6>
                                            }
                                            else if (item.Slot == 2)
                                            {
                                                <h6>Lunch</h6>

                                            }
                                            else
                                            {
                                                <h6>Dinner</h6>
                                            }
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="card-body">
                                            @item.MealType
                                        </div>
                                        <div class="card-footer bg-success text-light">
                                            @if (item.Slot == 1)
                                            {
                                                <h6>Breakfast</h6>
                                            }
                                            else if (item.Slot == 2)
                                            {
                                                <h6>Lunch</h6>

                                            }
                                            else
                                            {
                                                <h6>Dinner</h6>
                                            }
                                        </div>
                                    }
                                </div>
                            </td>

                            <td class="text-center">
                                <h4 class="text-center">@item.PlannerName</h4>

                            </td>
                            <td class="text-center">
                                <form asp-controller="MealPlan" asp-action="Plan" method="get" asp-route-id="@item.ScheduledMealId">
                                    <button type="submit" class="btn btn-outline-primary float-right">Modify Meal</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

