@model IEnumerable<Scullery.Models.ViewModels.MealEvent>
@{
    ViewData["Title"] = "GetMealSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Scheduled Meals</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Recipe Name
            </th>
            <th>
                Planner Name
            </th>
            <th>
                Meal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannerName)
                </td>
                <td>
                    @if (item.Slot == 1)
                    {
                        <p>Breakfast</p>
                    }
                    else if (item.Slot == 2)
                    {
                        <p>Lunch</p>
                    }
                    else
                    {
                        <p>Dinner</p>
                    }
                </td>
                <td>
                    <a asp-controller="MealPlan" asp-action="Plan" asp-route-id="@item.ScheduledMealId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>