@model IEnumerable<Scullery.Models.ViewModels.MealEvent>
@{
    ViewData["Title"] = "GetMealSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Scheduled Meals</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Recipe Name
            </th>
            <th>
                Planner Name
            </th>
            <th>
                Meal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannerName)
                </td>
                <td>
                    @if (item.Slot == 1)
                    {
                        <p>Breakfast</p>
                    }
                    else if (item.Slot == 2)
                    {
                        <p>Lunch</p>
                    }
                    else
                    {
                        <p>Dinner</p>
                    }
                </td>
                <td>
                    <a asp-controller="MealPlan" asp-action="Plan" asp-route-id="@item.ScheduledMealId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Search Results</h2>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <h3 class="card-header">
                            @if (item.Slot == 1)
                            {
                                <span>Breakfast: </span> @item.MealType
                            }
                            else if (item.Slot == 2)
                            {
                                <span>Lunch: </span> @item.MealType
                            }
                            else
                            {
                                <span>Dinner: </span> @item.MealType
                            }
                        </h3>
                        @if (item.RecipeName != "")
                        {
                            <h2 class="card-header"> @item.RecipeName </h2>

                        }
                        @if (item.MealType == "Planned")
                        {
                            <div class="card-body">
                                <h4 class="card-title">Assigned Cook</h4>
                                <h5 class="card-subtitle text-dark">@item.PlannerName</h5>
                            </div>

                        }
                        <div class="card-footer bg-light">
                            @if (item != "")
                            {
                                <button class="btn btn-outline-primary" type="button" onclick="parent.open('@Url.Content(card.RecipeUrl)')">Open Recipe</button>

                            }

                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>