@model IEnumerable<Scullery.Models.ViewModels.MealEvent>
@{
    ViewData["Title"] = "GetMealSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table text-center">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <h4>@item.MealDate.Value.ToString("MM/dd/yyyy")</h4>
                            </th>
                            <td>
                                <div class="card text-white bg-secondary mb-3 text-center">
                                    @if (item.MealType == "Planned")
                                    {
                                        <div class="card-header bg-secondary text-light">
                                            @if (item.Slot == 1)
                                            {
                                                <h5>Breakfast</h5>
                                            }
                                            else if (item.Slot == 2)
                                            {
                                                <h5>Lunch</h5>

                                            }
                                            else
                                            {
                                                <h5>Dinner</h5>
                                            }
                                        </div>
                                        <div class="card-body">
                                            <a href="@item.RecipeUrl" class="stretched-link text-white"> <h4 class="card-header"> @item.RecipeName </h4></a>
                                        </div>
                                        <div class="card-footer"><strong>@item.PlannerName</strong></div>



                                    }
                                    else
                                    {
                                        <div class="card-header bg-secondary text-light">
                                            @if (item.Slot == 1)
                                            {
                                                <h5>Breakfast</h5>
                                            }
                                            else if (item.Slot == 2)
                                            {
                                                <h5>Lunch</h5>

                                            }
                                            else
                                            {
                                                <h5>Dinner</h5>
                                            }
                                        </div>
                                        <div class="card-body">
                                            <strong>@item.MealType</strong> 
                                        </div>

                                    }
                                </div>
                            </td>                       
                            <td class="text-center">
                                <form asp-controller="MealPlan" asp-action="Plan" method="get" asp-route-id="@item.ScheduledMealId">
                                    <button type="submit" class="btn btn-outline-primary">Modify Meal</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

